* {
    font-family: "Segoe UI";
    color: rgb(30, 30, 30);
}

.navLogo {
    height: calc(10px + .5vw);
    width: auto;
    vertical-align: -2px;
}

.nav {
    margin-top: 5px;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nav ul {
    clear: left;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

.nav>ul>li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
    background-color: rgb(30, 30, 30);
}

.nav>ul>li a {
    display: block;
    padding: 5px calc(5px + 2vw);
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: calc(10px + .5vw);
}

.intro {
    padding: 25% 2% 2% 2%;
    font-size: calc(10px + 1.2vw);
}

h3 {
    font-size: calc(10px + .7vw);
}

.picture, .homeImage {
    width: 98%;
    height: auto;
    border: calc(2px + .2vw) solid rgb(30, 30, 30);
}

.article {
    font-size: calc(12px + .5vw);
    padding: 30px 10px;
}

form>input, form>textarea {
    width: 100%;
    margin-bottom: 20px;
    font-size: calc(8px + .7vw);
}

textarea {
    padding-bottom: 10%;
}

.githubLogo {
    height: calc(10px + 1.2vw);
    width: auto;
}

.button, button, input[type="submit"] {
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
    color: white;
    border-width: calc(1px + .2vw);
    padding: calc(0px + .3vw) calc(5px + .6vw);
    text-decoration: none;
    vertical-align: calc(1px + .6vw);
    font-weight: bold;
    font-size: calc(5px + .6vw);
}

@media (min-width:712px) {
    .nav {
        margin-left: 2%;
        width: 98%;
    }
    .nav ul {
        left: 0%;
    }
    .nav>ul>li {
        right: 0%;
    }
    .nav>ul>li a:hover {
        background-color: white;
        color: rgb(30, 30, 30);
    }
    .nav>ul>li a:hover>.navLogo {
        -webkit-filter: invert(100%);
    }
    .nav>ul>li a {
        border: calc(1px + .2vw) solid rgb(30, 30, 30);
        padding: 5px calc(5px + 3vw);
        font-size: calc(4px + .9vw);
    }
    .navLogo {
        height: calc(4px + .9vw);
    }
    .intro {
        width: 62%;
        float: left;
    }
    .experience {
        width: 30%;
        float: right;
        margin: .5% 2%;
    }
    .picture {
        width: 60%;
        height: auto;
        border: 5px solid rgb(30, 30, 30);
    }
    .article {
        font-size: calc(4px + .9vw);
        padding: 3% 25% 2% 10%;
    }
    .button:hover, button:hover, input[type="submit"]:hover {
        background-color: white;
        color: rgb(30, 30, 30);
    }
}